<% if @model == 'user' %>
	<h3>ユーザー検索結果 "<%= @content %>"</h3>
  <%= render 'users/index', users: @records %>
<% elsif @model == 'article' %>
	<h3>記事検索結果 "<%= @content %>"</h3>
  <%= render 'articles/index', articles: @records %>
<% end %>