<table class='table table-hover table-inverse'>
  <div class="container">
    <div class="row my-3">
      <tbody>
        <% @articles.each do |article| %>
          <div>
            <%= attachment_image_tag article, :image %>
            <p>投稿ユーザー画像：<%= article.image %></p>
            <p>タイトル：<%= article.title %></p>
            <p>本文：<%= article.body %></p>
            <!--<p>ユーザーネーム：%= @user.name %></p>-->
          </div>
        <% end %>
      </tbody>
    </div>
  </div>
</table>