<table class="table">
  <div class= "hash-name">
    <% if @tags.present? %>
      <% @tags.each do |tag| %>
         <p><%= render_with_hashtags("##{tag.hashname}") %></p>
      <% end %>
    <% end %>
  </div>
</table>
<%= paginate @tags %>