<div class='container px-5 px-sm-0'>
  <!--%= render 'layouts/errors', obj: @article %>-->
  <div class='row'>
    <div class='col-md-3'>
      <h2>タグ一覧</h2>
      <%= render 'tags', articles: @tags %>
    </div>
    <div class='col-md-8 offset-md-1'>
      <h2 class="text-center py2">新着記事</h2>
      <%= render 'index', articles: @articles %>
    </div>
  </div>
</div>