<section class>
  <div class="about-head">
   <h2>ようこそCoffeePageへ!</h2>
  </div>
  <div class= "about-body">
    <p>
      CoffeePageはコーヒー好きのためのコーヒーラバーによるコーヒーについて自由に語る場です。
    </p>
    <p>
      コーヒー豆、カフェ、ガジェット、飲み・入れ方などについて自由に語り、言語化していきましょう！
    </p>
    <p>
      さあ、あなたもコーヒーの素晴らしさについて心ゆくまで語っていってください！
    </p>
  </div>
</section>

<div class="about-image-area">
  <div class="container">
    <iamge id="about-image" src="assets/images/about.jpeg" poster="" webkit-playsinline playsinline muted autoplay loop></image>
    <div class="about-head">
      <h2>ようこそCoffeePageへ!</h2>
    </div>
    <div class="row header-title">
    <div class="comment col-12 text-center d-flex align-items-center">
      <p class="mx-auto">
　    CoffeePageはコーヒー好きのためのコーヒーラバーによるコーヒーについて自由に語る場です。<br>
　    コーヒー豆、カフェ、ガジェット、飲み・入れ方などについて自由に語り、言語化していきましょう！<br>
　    さあ、あなたもコーヒーの素晴らしさについて心ゆくまで語っていってください！<br>
　    </p>
    </div>
    </div>
  </div>
</div>