<div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
  <ol class="carousel-indicators">
    <li data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active"></li>
  </ol>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="/assets/image-url(about.png)" class="d-block w-100" alt="about">
      <div class="carousel-caption d-none d-md-block">
        <h5>ようこそCoffeePageへ!</h5>
        <p>
          CoffeePageはコーヒー好きのためのコーヒーラバーによるコーヒーについて自由に語る場です。<br>
      　　　コーヒー豆、カフェ、ガジェット、飲み・入れ方などについて自由に語り、言語化していきましょう！<br>
      　　さあ、あなたもコーヒーの素晴らしさについて心ゆくまで語っていってください！
        </p>
      </div>
    </div>
  </div>
</div>
